*{box-sizing: border-box;}

body {
    background-color: #109eff;
    margin: 0;
    padding: 0;
}

.form{
    background-color: #fdfdfd;
    padding: 30px;
    border: 2px solid red;
    border-radius: 5px;
}


.text{
    font-size: 28px;
    font-weight: 700;
}


.label{
    font-weight: 700;
}

label[for="terms"] {
    font-size: 10px;
    font-weight: 400;
}
